body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  textarea {
    width: 98%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .result, #result {
    margin-top: 20px;
    padding-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .valid {
    background-color: #c6efcd;
    color: #008000;
  }
  
  .invalid {
    background-color: #ffc7c7;
    color: #cc0000;
  }
  
  /* Challenge list page */
  
  .challenge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .challenge-list {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
  }
  
  .challenge-item {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .challenge-item:hover {
    transform: translateY(-5px);
  }
  
  /* Challenge check page */
  
  .check-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: #cc0000;
    margin-top: 10px;
  }

.button-container, .button-container button {
  margin-top: 20px;
}