<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
  <div class="login-box animated fadeInUp">
    <div class="box-header">
      <h2>XIPE - Control room</h2>
    </div>
  <form action="/login" method="POST">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div>
        <button type="submit">Log In</button>
      </div>
  </div>
  </form>
</body>
</html>
