<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Files</title>
</head>
<body>
  <div class="login-box animated fadeInUp">
    <div class="box-header">
      <h2>Local files</h2>
    </div>
    <form action="/" method="GET">
      <input type="text" name="folder" value="<%= folder || '' %>">
      <button type="submit">Show</button>

      <code>
        <pre><%= output %></pre>
      </code>
    </form>
  </div>
</body>
</html>
